.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 45%;
    max-height: 950px;
    padding: 2.27rem 1.16rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
  }
  
  .Playlist input {
    width: 98%;  
    border: 0;
    outline: 0;
    background-color:rgba(241, 233, 248, 0.639);
    /* background: transparent; */
    /* border-bottom: 2px dashed grey; */
    font-family: calibri, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.0rem;
    padding-top: 0.2rem;
    color: black;
    margin: 0 0 0.8rem 0;
    background-image: url('../../../public/imageBank/pen.png');
    background-repeat:no-repeat;
    background-position: right;
    text-indent: 5px;
    border-radius: 5px;
  }

  .Playlist input::placeholder {
    color:rgb(71, 1, 132);
  }
  
  .Playlist-save {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: #6c41ec;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 500;
  }
  
  .Playlist-save:hover {
    background-color: rgba(108, 65, 233, .7);
  }
  
  /* width */
  ::-webkit-scrollbar {
      /* width: 0px;
      background: transparent; */
      width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}

/* font-family: 'Coming Soon', cursive;
font-family: 'Sriracha', cursive; */