/* * {outline: 1px solid red;} */

.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 45%;
    height: 850px;
    padding: 2.27rem 1.16rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
  }

  .Playlist form {
    width: 100%; 
  }
  
  .Playlist #playlist-name { 
    width: 98%;  
    border: 0;
    outline: 0;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 2.0rem;
    padding-top: 0.2rem;
    color:rgb(1, 16, 85);
    margin: 0 0 0.8rem 0;
    background-repeat:no-repeat;
    background-position: right;
    text-indent: 9px;
    border-radius: 5px;
  }

  .Playlist #playlist-name::placeholder {
    background-color: white;
    color: rgb(99, 99, 99);
    margin-right: 2rem;
  }

  .Playlist #playlist-name:placeholder-shown {
    background-image: url('../../images/pen.png');
  }


  .Playlist .instructions {
    padding: 2rem 0 1rem 0;    
  }

  .Playlist .instructions.visible-false {
    display: none;
  }

  .Playlist .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-top: 2rem;
    width: 100%;
  }
  
  .Playlist .saveButton{    
    padding: 0.8rem 1rem;
    border-radius: 54px;
    border-width: 0px;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    font-weight: 500;
    transition: all 0.2s ease-in;
  }

  .Playlist .saveButton.disabled-true {    
    color: rgb(59, 59, 59);
    background-color: rgb(174, 174, 174);
    cursor: not-allowed;
  }

  .Playlist .saveButton.disabled-false {    
    color: white;
    background-color: #9941ec;
    cursor: pointer;
  }

  .Playlist .saveButton.disabled-false:hover {    
    background-color: #7711d6;
  }

  .Playlist .saveButton.saved-true {    
    color: white;
    background-color: rgb(46, 154, 94);
    cursor: not-allowed;
  }

  .Playlist a {
    padding: 0.8rem 1rem; 
    border-radius: 50px; 
    background-color: #6952ff;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: .83rem;
    transition: all .25s;
    color: white;
  }

  .Playlist a:hover {
    background-color: #5640e7;
  }

  .Playlist a img {
    height: .9rem;
    margin-left: 0.7rem;
    filter:invert(1);
  }
  
  /* width */
  ::-webkit-scrollbar {
      width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}
